<ion-header>
  <ion-navbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img [src]="image" alt="">
  <button ion-button clear (click)="takePicture()">Take picture</button>

    <button ion-button (click)="login()" *ngIf="!(user | async)?.uid">
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
    </button>
    <button block ion-button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    <button  ion-button (click)="loginFacebook()" *ngIf="!(user | async)?.uid">
       <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
    </button>
    <button  ion-button (click)="loginGoogle()" *ngIf="!(user | async)?.uid">
      <ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon>
    </button>

    <ion-list>
      <ion-item>
        <ion-input type="text" id="message" *ngIf="(user | async)?.uid"
                    placeholder="What is it that you do?"
                    (keyup.enter)="Send($event.target.value)"
                    [(ngModel)]="msgVal">
        </ion-input>
      </ion-item>

      <ion-item *ngFor="let item of items | async" >
        <ion-avatar item-start>
          <img src="{{item.photo}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.message}}</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let user of users | async">
          {{user.name}}
      </ion-item>
    </ion-list>

</ion-content>
